<header class="app-header navbar" id="navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" [routerLink]="['/dashboard']"></a>
    <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>&#9776;</button>
    <!--<ul class="nav navbar-nav ml-auto mr-4">
        <li class="nav-item dropdown px-3" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <span class="flag-icon flag-icon-{{translate.currentLang == 'en' ? 'us' : translate.currentLang}}" alt="Current language"></span>
                <span>{{'common.languages.' + translate.currentLang | translate}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <a class="dropdown-item" *ngFor="let lang of translate.getLangs()" href="javascript:void(0)" (click)="translate.use(lang)">
                    <span class="flag-icon flag-icon-{{lang == 'en' ? 'us' : lang}}" alt="Current language"></span> {{languageMap[lang]}}
                </a>
            </div>
        </li>

        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <img src="{{loggedInUser.imgProfile}}" class="img-avatar" alt="Profile picture">
                <span class="d-md-down-none">{{loggedInUser.fullname}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <a class="dropdown-item" href="#" [routerLink]="['/user-profile']"><i class="fa fa-user"></i> Profile</a>
                <a class="dropdown-item" href="#" [routerLink]="['/auth/logout']"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>-->
</header>

<div class="app-body">
    <div class="sidebar" id="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <!-- <li class="nav-title">
                    Business Manager
                </li> -->
                <li class="nav-item">
                    <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']" *ngIf="loggedInUser.role === 'BUSINESS_MANAGER'"><i class="icon-speedometer"></i> {{'common.titles.dashboard' | translate}}</a>-->
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> {{'common.titles.dashboard' | translate}}</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/it-dashboard']" *ngIf="loggedInUser.role === 'IT_MANAGER'"><i class="icon-speedometer"></i> {{'common.titles.dashboard' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/product-configuration']"><i class="icon-calculator"></i> {{'common.titles.product.configuration' | translate}}</a>
                </li>-->
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button" appSidebarBrandToggler appSidebarMinimizer></button>
    </div>
    <!-- /.sidebar -->

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>

</div>

<footer class="app-footer">
    Copyright &copy; 2017 Flex. All rights reserved.
</footer>