@charset "UTF-8";

@font-face {
  font-family: "flex";
  src:url("../fonts/flex.eot");
  src:url("../fonts/flex.eot?#iefix") format("embedded-opentype"),
  url("../fonts/flex.woff") format("woff"),
  url("../fonts/flex.ttf") format("truetype"),
  url("../fonts/flex.svg#flex") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "flex" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="flex-"]:before,
[class*=" flex-"]:before {
  font-family: "flex" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-medical-devices:before {
  content: "\61";
}
