<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary mb-3" (click)="addData()">Add more</button>
            <button class="btn btn-danger mb-3" (click)="exportJson(rows)">Export</button>
            <!--<button *ngIf="isExpandAll" class="btn btn-success mb-3 pull-right" (click)="collapseAllRows(rows)">Collapse all rows</button>-->
            <!--<button *ngIf="!isExpandAll" class="btn btn-success mb-3 pull-right" (click)="expandAllRows(rows)">Expand all rows</button>-->
            <ngx-datatable #dataTable class="material expandable striped mb-4" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">

                <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template>
                        <a class="text-no-decoration" href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row, rowIndex )">
                        </a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="No." [maxWidth]="120">
                    <ng-template ngx-datatable-cell-template let-rowDataIndex="rowIndex">
                        {{rowDataIndex + 1}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name" prop="name">
                    <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                        <input (blur)="updateValue($event, 'name', rowIndex)" type="text" [value]="value" />
                        <span class="text-danger">This field cannot be empty.</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Description" prop="description">
                    <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                        <input (blur)="updateValue($event, 'description', rowIndex)" type="text" [value]="value">
                        <span class="text-danger">This field cannot be empty.</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <a class="text-no-decoration" href="javascript:void(0)" (click)="removeData(rowIndex)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Details">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <div class="row">
                            <div class="col">
                                <span>Total of Assessment</span>
                                <br>
                                <strong class="h4">{{row.assessments.length}}</strong>
                            </div>
                            <div class="col">
                                <span>Total of Therapy</span>
                                <br>
                                <strong class="h4">{{row.therapies.length}}</strong>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-row-detail [rowHeight]="auto" #myDetailRow (toggle)="onDetailToggle($event)">
                    <ng-template let-row="row" let-expanded="expanded" let-rowDetailIndex="rowIndex" ngx-datatable-row-detail-template>
                        <tabset>
                            <tab>

                                <ng-template tabHeading>Assessment &nbsp;<span class="badge badge-pill badge-success">{{row.assessments.length}}</span>
                                </ng-template>
                                <ngx-datatable class="bootstrap" [rows]="row.assessments" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="'auto'">
                                    <ngx-datatable-column name="No." [maxWidth]="120">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                            {{rowIndex + 1}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Name" prop="name">
                                        <ng-template ngx-datatable-cell-template let-value="value" let-childRowIndex="rowIndex">
                                            <input type="text" [value]="value" (blur)="updateChildValue($event, 'name', row, childRowIndex,'assessment')" />
                                            <span class="text-danger">This field cannot be empty.</span>

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Description" prop="description">
                                        <ng-template ngx-datatable-cell-template let-value="value" let-childRowIndex="rowIndex">
                                            <input type="text" [value]="value" (blur)="updateChildValue($event, 'description', row, childRowIndex,'assessment')" />
                                            <span class="text-danger">This field cannot be empty.</span>

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Instructions" prop="instructions">
                                        <ng-template ngx-datatable-cell-template let-value="value" let-childRowIndex="rowIndex">
                                            <input type="text" [value]="value" (blur)="updateChildValue($event, 'instructions', row, childRowIndex,'assessment')" />
                                            <span class="text-danger">This field cannot be empty.</span>

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="UOM" prop="unitOfMeasure">
                                        <ng-template ngx-datatable-cell-template let-value="value" let-childRowIndex="rowIndex">
                                            <input type="text" [value]="value" (blur)="updateChildValue($event, 'unitOfMeasure', row, childRowIndex,'assessment')" />
                                            <span class="text-danger">This field cannot be empty.</span>

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                                        <ng-template let-childRowIndex="rowIndex" ngx-datatable-cell-template>
                                            <a class="text-no-decoration" href="javascript:void(0)" (click)="removeRecord(row, childRowIndex,'assessment')">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-sm btn-success" (click)="addRecord(row,'assessment')">
                                        <i class="fa fa-dot-circle-o"></i> Add more
                                    </button>
                                </div>
                            </tab>
                            <tab>
                                <ng-template tabHeading>Therapy &nbsp;<span class="badge badge-pill badge-danger">{{row.therapies.length}}</span>
                                </ng-template>
                                <ngx-datatable class="bootstrap" [rows]="row.therapies" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="'auto'">
                                    <ngx-datatable-column name="No." [maxWidth]="120">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                            {{rowIndex + 1}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Name" prop="name">
                                        <ng-template ngx-datatable-cell-template let-value="value" let-childRowIndex="rowIndex">
                                            <input type="text" [value]="value" (blur)="updateChildValue($event, 'name', row, childRowIndex,'therapy')" />
                                            <span class="text-danger">This field cannot be empty.</span>

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Description" prop="description">
                                        <ng-template ngx-datatable-cell-template let-value="value" let-childRowIndex="rowIndex">
                                            <input type="text" [value]="value" (blur)="updateChildValue($event, 'description', row, childRowIndex,'therapy')" />
                                            <span class="text-danger">This field cannot be empty.</span>

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Instructions" prop="instructions">
                                        <ng-template ngx-datatable-cell-template let-value="value" let-childRowIndex="rowIndex">
                                            <input type="text" [value]="value" (blur)="updateChildValue($event, 'instructions', row, childRowIndex,'therapy')" />
                                            <span class="text-danger">This field cannot be empty.</span>

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="UOM" prop="unitOfMeasure">
                                        <ng-template ngx-datatable-cell-template let-value="value" let-childRowIndex="rowIndex">
                                            <input type="text" [value]="value" (blur)="updateChildValue($event, 'unitOfMeasure', row, childRowIndex,'therapy')" />
                                            <span class="text-danger">This field cannot be empty.</span>

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                                        <ng-template let-childRowIndex="rowIndex" ngx-datatable-cell-template>
                                            <a class="text-no-decoration" href="javascript:void(0)" (click)="removeRecord(row, childRowIndex,'therapy')">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-sm btn-danger" (click)="addRecord(row,'therapy')">
                                        <i class="fa fa-dot-circle-o"></i> Add more
                                    </button>
                                </div>
                            </tab>
                        </tabset>
                    </ng-template>
                </ngx-datatable-row-detail>
            </ngx-datatable>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Output</div>
                <div class="card-block">
                    <prettyjson [obj]="rows"></prettyjson>
                </div>
            </div>
        </div>
    </div>
</div>
