// Here you can add other styles
.error {
    color: $red;
}

a.beauty:focus {
    outline: 1px solid;
    outline-offset: .15em;
}

.hero-img {
    // background-image: url("../assets/img/backgrounds/background_01.jpg");
    /* Set a specific height */
    height: 200px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.profile-img img {
    border-radius: 50%;
    position: relative;
    border: 5px solid #fff;
    top: -50px;
    left: 10px;
    display: inline-block;
    text-align: right;
    z-index: 4;
    max-width: 300px;
    margin-bottom: -30px;
}

.dashboard_daterangepicker {
    input {
        outline: none;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    }
    input:-moz-placeholder {
        color: transparent;
    }
    input::-webkit-input-placeholder {
        color: transparent;
    }
    input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        border: solid 1px #ccc;
        padding: 5px 10px;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        width: 15px;
        height: 15px;
        color: transparent;
        cursor: pointer;
        &:focus {
            width: 156px;
            cursor: auto;
            color: $gray-700;
        }
        &:hover {
            background-color: #fff;
        }
    }
    &:not(.open):before {
        content: "\e075";
        font-family: simple-line-icons;
        text-decoration: none;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        position: relative;
        left: 30px;
        cursor: pointer;
    }
    &.open {
        input[type=search] {
            width: 156px;
            cursor: auto;
            color: $gray-700;
        }
    }
}

.text-no-decoration:hover {
    text-decoration: none;
}

.icon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.hidden-overflow {
    overflow: hidden;
}

.swal2-popup {
    font-family: $font-family-base !important;
}

.datatable-scroll {
    width: 100% !important;
}

.bd-right {
    border-right: 1px solid $gray-200 !important;
}

.tooltip-custom-bottom {
    margin-left: -100px
}

.tooltip-custom-bottom>div:nth-child(1) {
    margin-left: 100px
}

.pointer:hover {
    cursor: pointer;
}

pre[_ngcontent-c2] {
    // background: #F0F0F0;
    // min-height: 100px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}